<nav id="sidebar">
        <div class="sidebar-header">
            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bootstrap Sidebar</font></font></h3>
        </div>

        <ul class="list-unstyled components">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">See dummy</font></font></p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">home</font></font></a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1 home</font></font></a>
                    </li>
                    <li>
                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home 2</font></font></a>
                    </li>
                    <li>
                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home 3</font></font></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">About</font></font></a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">pages</font></font></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">page 1</font></font></a>
                    </li>
                    <li>
                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">page 2</font></font></a>
                    </li>
                    <li>
                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">page 3</font></font></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">portfolio</font></font></a>
            </li>
            <li>
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contact</font></font></a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">download source</font></font></a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Back to article</font></font></a>
            </li>
        </ul>
    </nav>