<div class="container-fluid">
    <div class="row">
        <header>
            <div class="col-div2">
                <img id="img1"
                    src="https://store.gemotorswolong.com/industrialsystems/extranets/commoncommunity/commonsegment/motortools/images/ge_wolong_logo.jpg"
                    border="0">
                <div class="headerRightContainer">
                    <a class="medblue" id="link1" href="https://store.gemotorswolong.com/rmstorefront">
                        <img class="selected" alt="EliteNet Home" src="/assets/images/icon_home_orange.gif"
                            border="0">HOME
                    </a>
                    <a class="medblue" id="logout" href="#">
                        Logout
                    </a>
                </div>
            </div>
        </header>
    </div>
</div>

<!-- <header>
    <nav>
        <ul>
            <li>
                <a routerLink="/ebgmain" [routerLinkActive]="active">Step1</a>
            </li>
            <li>
                <a *ngIf="ebgsteptwoGroupIsValid$ | async" routerLink="/ebgsteptwo"
                    [routerLinkActive]="['active']">Step2</a>

                <button *ngIf="!(ebgsteptwoGroupIsValid$ | async)" disabled="true">
                    Step2
                </button>
            </li>
            <li>
                <a>Step3</a>
            </li>
        </ul>
    </nav>
</header> -->